body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:#D6EFFF;
}

.signup-container {
    width: 100%;
    max-width: 40rem;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #FE654F;
    font-size: 30px;
}

form {
    display :flex;
    flex-direction: column;
}

input, select, button {
    margin: 10px ;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #D6EFFF;
    font-size: 20px;
    color: #01386A;
}

select {
    appearance: none;
    background: url('https://imgs.search.brave.com/4FBQro2KbFp2g2DAOGVfgdmWhT3QHDuj1sNqKW8sX-Y/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4z/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvZmVhdGhlci01/LzI0L2Fycm93LWRv/d24tMTI4LnBuZw') no-repeat 98% center;
    background-size: 20px;
    padding-right: 30px;
    background-color: #D6EFFF;
}

/* button {
    background-color: #01386A;
    color: #ffffff;
    border: none;
    cursor: pointer;
} */

button[type="button"] {
    background-color: #01386A;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 10px 20px;
}

button[type="button"]:hover {
    background-color: #0169a8;
    transform: scale(1.05);
}
