h1{
    text-align: center;
    color: #FE654F;
    background-color: #FED99B;
    font-size: 30px;
    padding:25px ;
    margin : auto;
    width:96%;
    font-size:72px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    width: 400px;
    height: 2px;
    color: #FE654F solid ;
}