#head{
  color: black;
  width: auto;
  font-size: 2rem; 
  justify-content: center;
  align-items: center;
  max-width: auto;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 0rem;
  text-align: center;
}
